body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #484748;
  font-size: 12px;
  font-family: sans-serif;
  color: white; }

.lb_x1 {
  font-size: calc(1rem / 1); }
  @media screen and (max-width: 1024px) {
    .lb_x1 {
      font-size: calc(1rem / 1); } }
  @media screen and (max-width: 1000px) {
    .lb_x1 {
      font-size: calc(1rem / 1.1); } }
  @media screen and (max-width: 900px) {
    .lb_x1 {
      font-size: calc(1rem / 1.2); } }
  @media screen and (max-width: 800px) {
    .lb_x1 {
      font-size: calc(1rem / 1.3); } }
  @media screen and (max-width: 750px) {
    .lb_x1 {
      font-size: calc(1rem / 1.4); } }
  @media screen and (max-width: 700px) {
    .lb_x1 {
      font-size: calc(1rem / 1.6); } }
  @media screen and (max-width: 640px) {
    .lb_x1 {
      font-size: calc(1rem / 1.8); } }
  @media screen and (max-width: 480px) {
    .lb_x1 {
      font-size: calc(1rem / 2); } }

.lb_x1_5 {
  font-size: calc(1.5rem / 1); }
  @media screen and (max-width: 1024px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 1); } }
  @media screen and (max-width: 1000px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 1.1); } }
  @media screen and (max-width: 900px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 1.2); } }
  @media screen and (max-width: 800px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 1.3); } }
  @media screen and (max-width: 750px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 1.4); } }
  @media screen and (max-width: 700px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 1.6); } }
  @media screen and (max-width: 640px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 1.8); } }
  @media screen and (max-width: 480px) {
    .lb_x1_5 {
      font-size: calc(1.5rem / 2); } }

.lb_x2 {
  font-size: calc(2rem / 1); }
  @media screen and (max-width: 1024px) {
    .lb_x2 {
      font-size: calc(2rem / 1); } }
  @media screen and (max-width: 1000px) {
    .lb_x2 {
      font-size: calc(2rem / 1.1); } }
  @media screen and (max-width: 900px) {
    .lb_x2 {
      font-size: calc(2rem / 1.2); } }
  @media screen and (max-width: 800px) {
    .lb_x2 {
      font-size: calc(2rem / 1.3); } }
  @media screen and (max-width: 750px) {
    .lb_x2 {
      font-size: calc(2rem / 1.4); } }
  @media screen and (max-width: 700px) {
    .lb_x2 {
      font-size: calc(2rem / 1.6); } }
  @media screen and (max-width: 640px) {
    .lb_x2 {
      font-size: calc(2rem / 1.8); } }
  @media screen and (max-width: 480px) {
    .lb_x2 {
      font-size: calc(2rem / 2); } }

.lb_x2_5 {
  font-size: calc(2.5rem / 1); }
  @media screen and (max-width: 1024px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 1); } }
  @media screen and (max-width: 1000px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 1.1); } }
  @media screen and (max-width: 900px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 1.2); } }
  @media screen and (max-width: 800px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 1.3); } }
  @media screen and (max-width: 750px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 1.4); } }
  @media screen and (max-width: 700px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 1.6); } }
  @media screen and (max-width: 640px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 1.8); } }
  @media screen and (max-width: 480px) {
    .lb_x2_5 {
      font-size: calc(2.5rem / 2); } }

.txt_right {
  float: right;
  text-align: right; }

.txt_left {
  float: left;
  text-align: left; }

.txt_center {
  text-align: center; }

.center {
  position: relative;
  width: 100%;
  margin: auto;
  justify-content: center; }

header, .grid, nav {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.grid_x1 {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px; }

header {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 10%; }
  header span {
    font-weight: bold; }

main {
  position: relative;
  background-color: black;
  width: 100%;
  height: calc(100% - (10% + 20%));
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: 15px;
  overflow: auto; }

.main_item {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  box-sizing: border-box;
  max-height: 60px; }

footer {
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px; }

nav {
  box-sizing: border-box;
  border-top: #383838 1px solid; }

.list {
  position: absolute;
  width: 100%;
  top: -5px; }

.circle {
  position: relative;
  width: 23px;
  height: 23px;
  left: 15px;
  border-radius: 25%;
  background-color: red;
  float: right;
  text-align: center; }

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box; }

.marquee div {
  display: inline-block;
  padding-left: 50%;
  animation: marquee 10s linear infinite; }

@keyframes marquee {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-100%, 0); } }

/*# sourceMappingURL=style.css.map */
