//variaveis
$hmenu:10%;
$hfooter:20%;
$hmain:calc(100% - (#{$hmenu} + #{$hfooter}));

$lb_x0_5:0.5rem;
$lb_x1:1rem;
$lb_x1_5:1.5rem;
$lb_x1_3:1.3rem;
$lb_x2:2rem;
$lb_x2_5:2.5rem;
$lb_x1_1:2rem;

$span-map-font-sizes: (
    null:1,
    1024px: 1,
    //1000px:1.1,
    //900px:1.1,
    800px:1.1,
    //750px:1.4,
    //700px:1.2,
    //640px:1.2,
    480px:1.2
);

@mixin span-font-size($span-map, $rem) {
    @each $breakpoint, $dv in $span-map {
        $font-size:  calc(#{$rem} / #{$dv});
      @if $breakpoint == null {
        font-size: $font-size;
        
      }
      @else {
        @media screen and (max-width: $breakpoint) {
          font-size: $font-size;
        }
      }
    }
  }

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width:100vw;
    background-color: #484748;
    font-size: 12px;
    font-family: sans-serif;
    color:white;
}

//fontes
.lb_x1{
    @include span-font-size($span-map-font-sizes, $lb_x1);
}

.lb_x1_1{
    @include span-font-size($span-map-font-sizes, $lb_x1_1);  
}

.lb_x1_5{
    @include span-font-size($span-map-font-sizes, $lb_x1_5);   
}

.lb_x2{
    @include span-font-size($span-map-font-sizes, $lb_x2);
}

.lb_x2_5{
    @include span-font-size($span-map-font-sizes, $lb_x2_5);
}

//Alinhamentos
.txt_right{
    float: right;
    text-align:right;
}

.txt_left{
    float: left;
    text-align: left;
}

.txt_center{
    text-align: center;
}

.center{
    position: relative;
    margin-top: auto;    
    margin-bottom: auto;
    justify-content: center;
}

.center_h_v{
    position: relative;
    margin: auto;   
    justify-content: center;
}

//containers
header, .grid, nav{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_x1{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.grid_x2{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    row-gap: 5px;
    border-top: #383838 1px solid;
    border-bottom: #383838 1px solid;
    text-align: left;
}

header{   
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    width:100%;
    height: $hmenu;
    span{
        font-weight: bold;       
    }
}

main{
    position: relative;
    background-color:black;
    width:100%;
    height: $hmain;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 15px;
    overflow: auto;
}

.main_item{
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    box-sizing: border-box;
    padding-left: 10px;
   // max-height: 60px;
    height: 75px;
}

footer{
    position: relative;
    width: 100%;
    height: $hfooter;
    box-sizing: border-box;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

nav{   
    box-sizing: border-box;
    border-top: #383838 1px solid;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
}

//hovers
.icon_button_item:hover, .icon_button_item_1_1:hover, .icon_button_item_2_5:hover{
    cursor: pointer;
    color:grey;
}

.main_item:hover{
    background-color: #484748;
    //cursor: pointer;
}

//Actives
.icon_button_item:active{
    @include span-font-size($span-map-font-sizes, 1.8rem);
    color:grey;
}

.icon_button_item_2_5:active{
    @include span-font-size($span-map-font-sizes, 2.6rem);
    color:grey;
}

.icon_button_item_1_1:active{
    @include span-font-size($span-map-font-sizes, 1.2rem);
    color:grey;
}

//efeitos
.list{
    position: absolute;
    width: 100%;
    top:-5px;
}

.lista_icon{
    position: relative;
    width: 30px;
    float: right;
}

.list_fila{
    position: absolute;
    width: 0px;   
    top:15px;
    background: #484748;
    right: 0px;
    opacity: 0;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: 7;
    padding-top:5px;
    padding-bottom: 25px;
}

.Fila_Itens{
    position: relative;
    width:100%;
    height: 100%;
    overflow: auto;
}

.title_fila{
    position: relative;
    width:100%;
    height: 30px;
    text-align: center;
}

.Fila_Item > :first-child{
    border-top: none;
}

.sobrepor{
    position: relative;
    z-index: 9;
}

.sobrepor > span{
    position: relative;
    right: 8px;
}

.sobrepor:hover{
    cursor: pointer;
}

.lista_icon:hover > .sobrepor{
    opacity: 0.8;
}

.lista_icon:hover > .list_fila{
    width: 350px;
    height: 400px;
    opacity: 1; 
}

.scroll_fila{
    position: relative;
    display: auto;
}

.circle{   
    position: relative;
    width: 32px;
    height: 32px;
    left: 15px;
    border-radius: 50%;
    background-color: #2196F3;
    float: right;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
    transition-timing-function: ease-in
}

.circle > span{
    position: relative;
    top: 5px;    
}

.icon_footer{
    position: relative;
    width: 105px;
}

.marquee { 
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }

.marquee div{   
    display: inline-block;   
    padding-left: 50%;
    animation: marquee 10s linear infinite;
}

::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar {
    width: 15px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #484748;
}

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

